<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" data-theme="h" id="page1">
            <div data-role="content" style="padding: 15px">
                <div style=" text-align:center">
                    <img style="width: 60%; height: 20%" src="http://eav.utch.edu.mx/file.php/1/LOGOUTCHV.jpg" />
                </div>
                <a data-role="button" data-transition="fade" href="verTareasCel.html">
                    Ver Tareas
                </a>
                <a data-role="button" data-transition="fade" href="addTareaCel.html">
                    Añadir Tareas
                </a>
                <a data-role="button" data-transition="fade" href="addTareaCel.html">
                    Añadir materia o Tema
                </a>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>