<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>

        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" data-theme="h" id="page1">
            <div data-role="content" style="padding: 15px">
                <div style=" text-align:center">
                    <img style="width: 60%; height: 20%" src="http://eav.utch.edu.mx/file.php/1/LOGOUTCHV.jpg" />
                </div>
                <div data-role="fieldcontain">
                      <form method="POST" action="">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>
                            Selecciona las tareas a eliminar<br>
                        </legend>
                      
                            
                        #{list tarea, as:'t'}
                        
                        
                        
                        <span>${t.descripcion}
                               
                                <a href="borrar.html?TareaEliminar=${t.descripcion}">Eliminar</a>
                                              <span>            
                                #{/list}
                                
                                <input type="submit" value="Eliminar!" name="eliminar"/>
                                </fieldset>
                </form>    
                    ${mensaje}
                </div>
                                </div>
                                </div>
                                <script>
                                    //App custom javascript
                                </script>
                                </body>
                                </html>