<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <!--
    Created by Artisteer v3.1.0.48375
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tareas Pendientes</title>



    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" /><![endif]-->

    
    <script type="text/javascript" src="/public/javascripts/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/jquery.lksMenu.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/lksMenuSkin2.css" />
        <script>
        $('document').ready(function(){
            $('.menu').lksMenu();
        });
    <script type="text/javascript" src="/public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/public/javascripts/script.js"></script>
   <style type="text/css">
.art-post .layout-item-0 { padding-right: 10px;padding-left: 10px; }
   .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
   .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
   </style>

</head>
<body>
<div id="art-main">
    <div class="cleared reset-box"></div>
    <div class="art-header">
        <div class="art-header-position">
            <div class="art-header-wrapper">
                <div class="cleared reset-box"></div>
                <div class="art-header-inner">
                <div class="art-logo">
                                 <h1 class="art-logo-name"><a href="./index.html">Tareas Pendientes</a></h1>
                                                 <h2 class="art-logo-text">TIS51M</h2>
                                </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="cleared reset-box"></div>
<div class="art-bar art-nav">
<div class="art-nav-outer">
<div class="art-nav-wrapper">
<div class="art-nav-inner">
	<ul class="art-hmenu">
		<li>
			<a href="index.html" class="active">Ver Tareas</a>
		</li>	
		<li>
			<a href="addTarea.html">Agregar Tarea</a>
		</li>	
		<li>
			<a href="addMateria.html">Agregar Materia o Tema</a>
		</li>	
		<li>
			<a href="delete.html">Eliminar Tareas</a>
		</li>
              <li>
			<a href="update.html">Modificar Tarea</a>
		</li>
	</ul>
</div>
</div>
</div>
</div>
<div class="cleared reset-box"></div>
<div class="art-box art-sheet">
        <div class="art-box-body art-sheet-body">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content">
<div class="art-box art-post">
    <div class="art-box-body art-post-body">
<div class="art-post-inner art-article">
                                <h2 class="art-postheader"><span class="art-postheadericon">Tareas Pendientes<br><br><br>
                                </span></h2>
                                                <div class="art-postcontent">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%;">
        <p style="text-align: center;">
            
           
            
            #{list items:tarea, as:'e'}
			

            <h1>${e.materia}</h1>

                <dd><h2>${e.fecha}</h2><p>
                 <h2>${e.descripcion}</h2><p>           
                     <center><p><img src="http://www.ecs.umass.edu/cee/reckhow/courses/ERK/ERKhw/images/homework5[1].jpg" width ="100" height="100" alt="Alt text to go here" /></center>
                     <hr><hr>
            #{/list}
            
            
        </p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 50%;">
        <br />
    </div><div class="art-layout-cell layout-item-0" style="width: 50%;">
        <p><br /></p>
    </div>
    </div>
</div>

                </div>
                <div class="cleared"></div>
                </div>

		<div class="cleared"></div>
    </div>
</div>

                          <div class="cleared"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cleared"></div>
            
    		<div class="cleared"></div>
        </div>
    </div>
    <div class="art-footer">
        <div class="art-footer-body">
            <div class="art-footer-center">
                <div class="art-footer-wrapper">
                    <div class="art-footer-text">
                        <a href="#" class="art-rss-tag-icon" title="RSS"></a>
                        <p><a href="#">Link1</a> | <a href="#">Link2</a> | <a href="#">Link3</a></p>

<p>Copyright © 2011. All Rights Reserved.</p>
                        <div class="cleared"></div>
                        <p class="art-page-footer"><a href="http://www.artisteer.com/?p=website_templates" target="_blank">Website Template</a> created with Artisteer.</p>
                    </div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
</div>

</body>
</html>
